.cover__subtitle{
    padding-top: 32px;
    max-width: 36%;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    color: #fff;
    position: relative;
    z-index: 2;
}

@media screen and (max-width: 984px){
	.cover__subtitle {
	  max-width: 50%;
	}
 }
 
 @media screen and (max-width: 568px){
	.cover__subtitle {
	  max-width: none;
	  font-size: 14px;
	  line-height: 16px;
	  margin: 8px 0 0;
	}
 }