.header{
  grid-area: header;
  display: grid;
  grid-template: 1fr / 1fr minmax(auto, 1185px);
  align-items: center;
    justify-self: center;
  	 margin: 28px 48px 56px;
  }
  
  @media screen and (max-width:1140px) {
	.header{
		max-width: 928px;
		margin: 28px 48px 48px;
		
	}
	
}
@media screen and(max-width:920px) {
	.header{
		max-width: 720px;
		margin: 28px 24px 24px 48px;
		
	}

	
}

@media screen and (max-width:568px) {
.header{
	margin: 16px 16px 48px 16px;
	
}
	
}
