	ul {
		list-style: none;
	}

	/* ========= */
.wrapper{
min-height: 100vh;
display: grid;
grid-template: minmax(52px,auto) 1fr minmax(45px, auto) / 1fr;
max-width: 100%;
grid-template-areas: 
				"header"
				"content"
				"footer";
				
}
